.qrp_wrap_content .qrp_wrap_items{
	float: left;
	width: 100%;
}
.qrp_wrap_content li.qrp_item{
	float: left;
	width: 23%;
	margin-right: 10px;
	list-style: none;
	margin-bottom: 10px;
}
.qrp_wrap_content ul.qrp_wrap_items li.qrp_item:last-child{
	margin-right: 0px;
}
.qrp_wrap_content span{
	font-size: 11px;
	width: 100%;
	display: block;
	margin-top: 5px;
	float: left;
}
.qrp_wrap_content span.qrp_author{
	float: left;
	width: 50%;
	font-style: italic;
	border-top: 1px dotted #000;
}
.qrp_wrap_content span.qrp_date{
	float: right;
	width: 50%;
	border-top: 1px dotted #000;
	text-align: right;
}

.qrp_wrap_content .qrp_post_title{
	float: left;
	width: 100%;
	font-size: 14px;
}
.qrp_custom .qrp_post_title{
	border-top: 1px dotted #000;
}

.qrp_wrap_content .qrp_info{
	height: 115px;
	overflow: hidden;
}

.qrp_text .qrp_wrap_items .qrp_item{
	float: left;
	width: 100%;
}
.qrp_text .qrp_wrap_items .qrp_item a{
	float: left;
}
.qrp_text .qrp_wrap_items .qrp_item span{
	float: left;
	width: auto;
}
.qrp_wrap_content li.qrp_item_owl_theme{
	width: auto;
	float: none;
}
#qrp_owl_carousel .owl-item{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 5px;
}